/* Hero.css */
.hero {
  min-height: calc(100vh - 72px);
  background: var(--cream);

  display: grid;
  grid-template-columns: 0.85fr 1.15fr;
  align-items: center;

  padding: 2rem;
  gap: 5rem;
}

.hero-image {
  display: flex;
  justify-content: center;
  height: calc(100vh - 76px);
}

.hero-image img {
  width: 100%;
  border-radius: 18px;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.14);
  transition: all 0.35s ease;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  max-width: 680px;
}

.hero-content h1 {
  color: var(--green);

  font-size: clamp(2.1rem, 2.8vw, 2.8rem);

  line-height: 1.15;
  letter-spacing: -0.5px;

  font-weight: 700;

  margin-bottom: 2rem;
}

.hero-content p {
  color: #555;

  font-size: 1.15rem;
  line-height: 1.8;

  margin-bottom: 1.2rem;
}

.hero-content button {
  width: fit-content;

  margin-top: 2rem;

  background: var(--red);
  color: white;

  padding: 1rem 2.5rem;

  border-radius: 999px;
  border: none;

  font-size: 0.95rem;
  font-weight: 700;
  letter-spacing: 0.4px;

  transition: all 0.3s ease;
}

.hero-content button:hover {
  background: #a90d26;

  color: white;

  transform: translateY(-3px);

  box-shadow: 0 12px 30px rgba(200, 16, 46, 0.25);
}

.hero-content button:active {
  transform: translateY(-1px);
}

.hero-divider {
  display: flex;
  align-items: center;

  width: 180px;

  margin-bottom: 2rem;
}

.hero-divider::before {
  content: "";

  width: 100%;
  height: 1px;

  background: linear-gradient(to right, #c8b273, transparent);
}

@media (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 3rem 1.5rem;
    gap: 2.5rem;
  }

  .hero-content {
    margin: auto;
  }

  .hero-content h1 {
    font-size: 2.8rem;
  }

  .hero-content button {
    margin-left: auto;
    margin-right: auto;
  }

  .links {
    gap: 1rem;
  }
}
