.benefits {
  padding: 3rem;
}

.benefits h2 {
  color: var(--green);
  text-align: center;

  font-size: 2rem;

  margin-bottom: 2rem;
}

.benefits-list {
  max-width: 850px;
  margin: 0 auto;
}

.benefit-item {
  display: grid;
  grid-template-columns: 50px 1fr;

  align-items: center;

  padding: 1.5rem 0;

  border-bottom: 1px solid rgba(200, 178, 115, 0.2);
}

.benefit-item:last-child {
  border-bottom: none;
}

.benefit-icon {
  width: 30px;
  height: 30px;

  border: 1px solid rgba(200, 178, 115, 0.7);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--green);

  font-size: 0.75rem;
}

.benefit-item p {
  font-size: 1.1rem;
  line-height: 1.6;
}
